@Charset "UTF-8";

#mForm {
    position: relative;
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    color: #000;
    text-align: left;
}

#mForm form span {
    font-size: 9pt;
    text-transform: uppercase;
}

#mForm form input, button {
    width: 100%;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 12pt;
}

/*
::-webkit-input-placeholder { /* WebKit, Blink, Edge *
    color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 *
    color: #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ *
    color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 *
    color: #000;
}
::-ms-input-placeholder { /* Microsoft Edge *
    color: #000;
}
*/

#mForm form input[type="submit"], button {
    padding: 8px;
    background: #333;
    color: #fff;
    margin: 15px 0px 0px 0px;
    border: 3px solid #333;
    text-transform: uppercase;
    font-weight: bolder;
}

#mForm form input[type="submit"]:hover, button:hover {
    background: #fff;
    color: #333;
}